<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.itwill.spring2.repository.PostDao">
  
  <!--  posts 테이블 전체 검색. 목록 보기 -->
  <select id="selectOrderByIdDesc" resultType="Post"> <!-- post타입으로 리턴 -->
  	select * from posts order by id desc
  </select>
  
  <!--  posts 테이블에서 id(pk)로 검색. 상세보기 -->
  <select id="selectById" resultType="Post">   <!-- 셀렉트는 리절트타입 필수! -->
   	select * from posts where id = #{id}
  </select>
  
  <!-- posts 테이블에 행 삽입. 새 글 작성 -->
  <insert id="insertPost">
  	insert into posts (title, content, author)
  	values (#{title}, #{content}, #{author})
  </insert>
  
  <delete id="deletePost">
  	delete from posts where id = #{id}
  </delete>
  
  <update id="updatePost">
  	update posts set title = #{title}, content = #{content}, modified_time = systimestamp where id = #{id}
  </update>
  
  <!--  posts 테이블에서 제목/내용/작성자로 검색 -->
  <select id="search" resultType="Post">
  	<bind name="searchKeyword" value="'%' + keyword + '%'" />
  		select * from posts
  		<where>
  		<choose>
  			<when test='category.equals("t")'> upper(title) like upper(#{searchKeyword})</when>
  			<when test='category.equals("c")'> upper(content) like upper(#{searchKeyword})</when>
  			<when test='category.equals("tc")'>upper(content) like upper(#{searchKeyword})
  												or
  												upper(title) like upper(#{searchKeyword})</when>
  			<when test='category.equals("a")'>upper(author) like upper(#{searchKeyword})</when>
  		</choose>
  		</where>
  		order by id desc
  </select>
  
  <!-- 위에가 이거임 
  		select * from posts
  		where upper(title) like upper(%keyword값%)
  		order by id desc
  		
  		타이틀에 keyword값이 있는걸 셀렉트
   -->
  
  </mapper>